<!DOCTYPE html>
<html>
<head>
  <title>Opus</title>
  <style>

  .links line {
    stroke: #999;
    stroke-opacity: 0.6;
  }

  .nodes circle {
    stroke: #fff;
    stroke-width: 1.5px;
  }

  </style>
</head>
<body>
  <div class='search-div'>
    <form class='search-form' >
      <input class='search-input' placeholder="Type the name of an artist">
    </form>
  </div>
  <button id="getKanye">Get Kanye</button>
  <button id="getJay">Get JAY Z</button>
  <button id="getKanyeFriends">Get Kanye's Friends</button>
  <!--<button id="fetchKanyeSearch">Find Kanyes with Search</button> -->
  <br>
  <svg width="1280" height="900"></svg>

 </body>

<footer>
  <script
    src="https://code.jquery.com/jquery-3.2.1.min.js"
    integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
    crossorigin="anonymous">
  </script>

  <script type="text/javascript">

    // function start () {
    //   getKanye();
    //   getKanyeFriends();
    // }
    // function fetchKanyeSearch() {
    //   let myUrl = 'https://api.spotify.com/v1/search?query=kanye&type=artist&offset=0&limit=20';
    //   utilReceiveSearch(myUrl);
    // }

    function getKanye() {
      let id = '5K4W6rqBFWDnAN6FQUkS6x';
      utilReceiveArtist(id);
    }

    function getJay() {
      let id = '3nFkdlSjzX9mRTtwJOzDYB';
      utilReceiveArtist(id);
    }

    function getKanyeFriends() {
      let id = '5K4W6rqBFWDnAN6FQUkS6x';
      utilReceiveRelatedArtists(id);
    }

    // $('#fetchKanyeSearch').click(fetchKanyeSearch)
    $('#getKanye').click(getKanye)
    $('#getJay').click(getJay)
    $('#getKanyeFriends').click(getKanyeFriends)
    $('.search-form').submit(function(event) {
      event.preventDefault();
      let inputEl = $('.search-input');
      utilSearch(inputEl.val());
      inputEl.val('');
    })
  </script>

  <script src="https://d3js.org/d3.v4.min.js"></script>


  <script type="text/javascript">

    let NODES_OBJ = {};
    let LINKS_OBJ = {};
    let CHOSEN_ARR = [];
    let nodes = [];
    let links = [];
    let point = [0, 0]


    var svg = d3.select("svg"),
      width = +svg.attr("width"),
      height = +svg.attr("height"),
      color = d3.scaleOrdinal(d3.schemeCategory20);


    svg.append("rect")
        // .attr("transform", "translate(" + width / 2 + "," + height / 2 + ")")
        .attr("width", width)
        .attr("height", height)
        .style("fill", "#ffffff")
        .style("pointer-events", "all")
        .call(d3.zoom()
            .on("zoom", zoomed));

    function zoomed() {
      g.attr("transform", d3.event.transform);
    }

    var simulation = d3.forceSimulation()
      .force("collision", d3.forceCollide(75))
      .force("charge", d3.forceManyBody().strength(-30000).distanceMin(400))
      .force("link", d3.forceLink().id(function(d) { return d.id; }).distance(140).strength(1).iterations(4))
      .force("center", d3.forceCenter(0, 0))
      .alphaDecay(0.003)
      .alpha(0.4)

      .on("tick", ticked);

      // .alpha(1.4)
      // .alpha(10)
      // .force("collide", d3.forceCollide(25).iterations(4))


    function dragstarted(d) {
      if (!d3.event.active) simulation.alphaTarget(0.3).restart();
      d.fx = d.x;
      d.fy = d.y;
    }

    function dragged(d) {
      d.fx = d3.event.x;
      d.fy = d3.event.y;
    }

    function dragended(d) {
      if (!d3.event.active) simulation.alphaTarget(0);
      d.fx = null;
      d.fy = null;
    }


    var g = svg.append("g"),
      link = g.append("g").attr("stroke", "#000000").attr("stroke-width", 1).selectAll(".link"),
      node = g.append("g").selectAll(".node");
      text = g.append("g").selectAll(".text")
      image = g.append("g").selectAll(".image");
      // clipPath = g.append("g").selectAll(".clipPath");



    function PingSpotifyAPIAJAX(url) {
      return $.ajax('/cors', { data: { url } });
    }

    function utilReceiveArtist(id) {
      let url = `https://api.spotify.com/v1/artists/${id}`
      PingSpotifyAPIAJAX(url).then((response) => addParentNode(response)).then(() => utilReceiveRelatedArtists(id));
    }

    function addParentNode(response) {
      // if (!NODES_OBJ[`${response.id}`]) {
        response['chosen'] = true;
        NODES_OBJ[`${response.id}`] = response;
      // }
      CHOSEN_ARR.forEach((chosen) => {
        let linkKey = `${response.id}-${chosen.id}`;
        LINKS_OBJ[`${linkKey}`] = { "source": `${response.id}`, "target": `${chosen.id}`, "value": 6, };
      });
      CHOSEN_ARR.push(response);

      update();
    }

    function utilReceiveRelatedArtists(id) {
      let url = `https://api.spotify.com/v1/artists/${id}/related-artists`
      PingSpotifyAPIAJAX(url).then((response) => addRelativeNodes(response, id));
    }


    function utilSearch(query) {
      query = query.trim();
      let url = `https://api.spotify.com/v1/search?q=${encodeURIComponent(query)}&type=artist`;
      PingSpotifyAPIAJAX(url)
        .then((response) => {
          let id = response.artists.items[0].id;
          utilReceiveArtist(id);
        });
    }

    function addRelativeNodes(response, parentId) {
      artists = [response.artists[0]].concat(response.artists.slice(1, 8));
      artists.forEach((artist) => {
        artist.x = point[0];
        artist.y = point[1];
        if (!NODES_OBJ[`${artist.id}`]) {
          NODES_OBJ[`${artist.id}`] = artist;
        }
        let linkKey = `${artist.id}-${parentId}`;
        LINKS_OBJ[`${linkKey}`] = { "source": `${artist.id}`, "target": `${parentId}`, "value": 6, };
      });

      update(parentId);
    }

    function searchNodes(nodesArray, parentId){
      for (var i=0; i < nodesArray.length; i++) {
        if (nodesArray[i].id === parentId) {
            return nodesArray[i];
        }
      }
    }

    function update(parentId) {

      let nodesArray = Object.values(NODES_OBJ);
      let linksArray = Object.values(LINKS_OBJ);

      node = node.data(nodesArray, function(d) { return d.id; } );
      node.exit().remove();
      node = node.enter()
        .append("circle")
        .attr('class', 'node')
        .attr("transform", "translate(" + width / 2 + "," + height / 2 + ")")
        .attr("r", 34)
        .attr('fill', '#000')
        .on('click', (d) => utilReceiveRelatedArtists(`${d.id}`))
        .call(d3.drag()
          .on("start", dragstarted)
          .on("drag", dragged)
          .on("end", dragended))
        .merge(node);

      node.filter(function(d, i) { return d.chosen } )
        .attr('fill', '#FFD700')
        .attr('r', 45)

      image = image.data(nodesArray, function(d) { return d.id; } );
      image.exit().remove();
      image = image.enter()
        .append('g')
        .attr('class', 'image')
        .attr("transform", "translate(" + width / 2 + "," + height / 2 + ")")
        .on('click', (d) => {
          point[0] = d.x;
          point[1] = d.y;
          utilReceiveRelatedArtists(`${d.id}`);
        })
        .call(d3.drag()
          .on("start", dragstarted)
          .on("drag", dragged)
          .on("end", dragended))
        .merge(image);

      image.append("clipPath")
        .attr('id', function(d) {return (`clipCircle${d.id}`)})
        .attr('class', 'clipPath')
        .append('circle')
        .attr('fill', '#222326')
        .attr("stroke", "#fff")
        .attr("stroke-width", 50)
        .attr('r', 32);

      image.append('image')
        .attr('xlink:href', function(d) {
          if (d.images[2]) {
            return d.images[2].url;
          } else {
            return 'https://s3-us-west-2.amazonaws.com/opus-pro/opus-logo.png';
          }
        })
        .attr('width',
          function(d) {
            let artistImage = d.images[2];
            if (!artistImage) {
              return 64;
            } else if (artistImage.width > artistImage.height) {
              return 64 * (artistImage.width / artistImage.height);
            } else {
              return 64
            }
          }
        )
        .attr('height',
          function(d) {
            let artistImage2 = d.images[2];
            if (!artistImage2) {
              return 64;
            } else if (artistImage2.height > artistImage2.width) {
              return 64 * (artistImage2.height / artistImage2.width);
            } else {
              return 64;
            }
          }
        )
        .attr('y', '-32px')
        .attr("clip-path", function(d) {return (`url(#clipCircle${d.id})`)})
        .attr('x', '-32px');

      link = link.data(linksArray, function(d) { return d.source.id + "-" + d.target.id; });
      link.exit().remove();
      link = link.enter()
        .append("line")
        .attr('class', 'link')
        .attr("transform", "translate(" + width / 2 + "," + height / 2 + ")")
        .attr("fill", function(d) { return color(2); })
        .merge(link);


      text = text.data(nodesArray, function(d) { return d.id; } );
      text.exit().remove();
      text = text.enter()
        .append("text")
        .attr('class', 'text')
        .attr("transform", "translate(" + width / 2 + "," + height / 2 + ")")
        .attr("dx", 38)
        .attr("dy", 3)
        .style("fill", "#000")
        .style("font-family", "Helvetica")
        .style("font-size", 16)
        .style('text-shadow', '0 1px 0 #fff, 1px 0 0 #fff, 0 -1px 0 #fff, -1px 0 0 #fff')
        .text(function(d) { return d.name })
        .merge(text);


      // console.log(node);
      // console.log(link);
      // console.log(nodesArray);
      // console.log(linksArray);
      // console.log(NODES_OBJ);
      // console.log(LINKS_OBJ);


      simulation.nodes(nodesArray);
      simulation.force("link").links(linksArray);
      simulation.restart();
    }

    function ticked() {
      node.attr("cx", function(d) { return d.x; })
          .attr("cy", function(d) { return d.y; });

      text.attr("x", function(d) { return d.x; })
          .attr("y", function(d) { return d.y; });

      image.attr('transform', function(d) {
        let thisY = (d.y + height / 2);
        let thisX = (d.x + width / 2);
        return `translate(${thisX}, ${thisY})`
      });

      link.attr("x1", function(d) { return d.source.x; })
          .attr("y1", function(d) { return d.source.y; })
          .attr("x2", function(d) { return d.target.x; })
          .attr("y2", function(d) { return d.target.y; });
    }

  </script>

</footer>
</html>
