/* Resets */

html, body, header, nav, h1, h3, h4, h5, a,
ul, li, strong, main, button, i,
section, img, div, h2, p, form,
fieldset, label, input, textarea,
span, article, footer, time, small {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font: inherit;
  font-family: 'Roboto';
  font-weight: 300;
  color: inherit;
  text-align: inherit;
  text-decoration: inherit;
  vertical-align: inherit;
  box-sizing: inherit;
  background: transparent;
  -webkit-font-smoothing: antialiased;
}

ul {
  list-style: none;
}

img {
  display: block;
  width: 100%;
  height: auto;
}

image {
  transition: transform 0.1s ease-in-out;
}

input[type="password"],
input[type="email"],
input[type="text"],
input[type="submit"],
textarea,
button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

button,
input[type="submit"] {
  cursor: pointer;
}

body {
  fill: #f9f9f9;
}

button {
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.18)
}

/* Clearfix */

.group:after {
  content: "";
  display: block;
  clear: both;
}

/* Header */

.header-div {
  width: 100vw;
  opacity: 0.9;
  position: fixed;
}

.header-left {
  display: flex;
  align-items: center;
  opacity: 1;
}

.header-title {
  font-size: 55px;
  margin-right: 20px;
  font-weight: 100;
  color: #0e0e0e;
}

.header-contents {
  width: 98vw;
  height: 7vh;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-logo {
  height: 47px;
  width: 47px;
  border-radius: 50%;
  margin-right: 20px;
}

.search-div {
  width: 54vw;
}

.search-input {
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.10);
  -webkit-appearance: none
  margin-left: 30px;
  padding-left: 30px;
  width: 50vw;
  height: 35px;
  font-size: 15px;
  text-transform: capitalize;
  line-height: 20px;
  padding: 5px 15px;
  background-color: #ffffff;
  border: 1px solid #dddddd;
  border-radius: 5px;
  -webkit-transition: width 0.5s ease-out;
  transition: width 0.5s ease-out;
}

.search-input:focus {
  border: 1px solid #2a2a2a;
  outline: none;
}

.header-right {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 90%;
}

.github-link {
  cursor: pointer;
  height: 47px;
  width: auto;
  margin-right: 5px;
}

.github-link-image {
  height: 100%;
  width: auto;
  border-radius: 4px;
}

.linkedin-link {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.linkedin-link-image {
  height: 47px;
  width: auto;
}

.about-me {
  cursor: pointer;
  font-size: 16px;
  padding: 13px 14px;
  border: 1px solid #0e0e0e;
  border-radius: 5px;
  color: #0e0e0e;
  background: #ffffff;
  opacity: 0.9;
}

/* Body */

.svg-div {
  width: 100vw;
  height: 99.5vh;
}

svg {
  width: 100%;
  height: 100%;
}

.center-zoom-button {
  position: fixed;
  padding: 7px 14px;
  left: 1vw;
  top: 10vh;
  border-radius: 5px;
  border: 1px solid #0e0e0e;
  background: #ffffff;
  opacity: 0.9;
  color: #0e0e0e;
  transition: transform 0.2s;
}

.center-zoom-button:hover {
  transform: translate(-1px, -1px);
}

.reset-button {
  position: fixed;
  padding: 7px 14px;
  left: 1vw;
  top: 17vh;
  border-radius: 5px;
  border: 1px solid #0e0e0e;
  background: #ffffff;
  opacity: 0.9;
  color: #0e0e0e;
  transition: transform 0.2s;
}

.reset-button:hover {
  transform: translate(-1px, -1px);
}

.tour-button {
  position: fixed;
  padding: 7px 14px;
  left: 1vw;
  top: 24vh;
  border-radius: 5px;
  border: 1px solid #0e0e0e;
  background: #ffffff;
  opacity: 0.9;
  color: #0e0e0e;
  transition: transform 0.2s;
}

.tour-button:hover {
  transform: translate(-1px, -1px);
}

/* D3 */

.links line {
  stroke: #999;
  stroke-opacity: 0.6;
}

.nodes circle {
  stroke: #fff;
  stroke-width: 1.5px;
}

.node {
  cursor: pointer;
}

.image {
  cursor: pointer;
}

rect {
  cursor: move;
  z-index: 1;
}

/* Artist Box/Player */

.artist-box {
  margin: 0 auto;
  background: rgba(249, 249, 249, 0.9);
  display: flex;
  align-items: center;
  font-size: 14px;
  position: fixed;
  bottom: 1vh;
  right: 1vw;
}

.artist-info > a > h1 {
  font-weight: 600;
  font-size: 16px;
  text-align: center;
  cursor: pointer;
}

.next-button-div {
  position: fixed;
  bottom: 3.5vh;
  right: 0.5vw;
}

.next-button-inside-div {
  cursor: pointer;
  padding: 20px;
  height: 20px;
  width: 20px;
}

.next-button {
  fill: #0e0e0e;
}

.aplayer-time > .aplayer-icon-menu {
  display: none !important;
}

.player-div {
  width: 400px;
  position: relative;
}

.aplayer-title > a,
.aplayer-author > a {
  cursor: pointer !important;
  color: #1DB954;
}

.aplayer-title > a:hover,
.aplayer-author > a:hover {
  color: #0e0e0e;
}

.aplayer-music {
  padding-right: 2vw;
}

.logo {
  width: 21px;
  height: 21px;
  margin-right: 5px;
  display: inline;
  vertical-align: middle;
}

/* Directions */

.directions-box {
  opacity: 0.5;
  z-index: 0;
  position: fixed;
  top: 10vh;
  right: 1vw;
  background: rgba(249, 249, 249, 0.9);
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  font-size: 14px;
}

.drag, .click, .zoom {
  display: flex;
  align-items: center;
  padding: 1px;
}

.drag-text, .click-text, .zoom-text {
  padding: 5px;
}

.drag-img, .click-img {
  height: 21px;
  width: auto;
}

.mouse {
  height: 21px;
  width: 14px;
  border-radius: 10px;
  transform: none;
  border: 1px solid #0e0e0e;
  top: 170px;
  margin-right: 1px;
  margin-left: 4px;
}

.wheel {
  height: 5px;
  width: 2px;
  display: block;
  margin: 5px auto;
  background: #0e0e0e;
  position: relative;
}

.wheel {
  -webkit-animation: mouse-wheel 1.2s ease infinite;
  -moz-animation: mouse-wheel 1.2s ease infinite;
}

@-webkit-keyframes mouse-wheel {
  0% {
    opacity: 1;
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
  }

  100% {
    opacity: 0;
    -webkit-transform: translateY(6px);
    -ms-transform: translateY(6px);
    transform: translateY(6px);
  }
}

@-moz-keyframes mouse-wheel {
  0% { top: 1px; }
  50% { top: 2px; }
  100% { top: 3px; }
}

/* Intro.js */

.intro {
  width: 25vw;
}

.introjs-tooltiptext {
  text-align: center;
  padding: 10px;
}
