/* Resets */

html, body, header, nav, h1, h3, h4, h5, a,
ul, li, strong, main, button, i,
section, img, div, h2, p, form,
fieldset, label, input, textarea,
span, article, footer, time, small {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font: inherit;
  font-family: 'Roboto';
  font-weight: 300;
  color: inherit;
  text-align: inherit;
  text-decoration: inherit;
  vertical-align: inherit;
  box-sizing: inherit;
  background: transparent;
  -webkit-font-smoothing: antialiased;
}

ul {
  list-style: none;
}

img {
  display: block;
  width: 100%;
  height: auto;
}

input[type="password"],
input[type="email"],
input[type="text"],
input[type="submit"],
textarea,
button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

button,
input[type="submit"] {
  cursor: pointer;
}

body {
  background: #f9f9f9;
}

/* Clearfix */

.group:after {
  content: "";
  display: block;
  clear: both;
}

/* Header */

.header-div {
  width: 100vw;
  /*background: #f9f9f9;*/
  opacity: 0.9;
  position: fixed;
}

.header-left {
  display: flex;
  align-items: center;
  opacity: 1;
}

.header-title {
  font-size: 55px;
  margin-right: 20px;
  font-weight: 100;
  /*text-shadow: -2px 2px 0px #505050;*/
  color: #0e0e0e;
}

.header-contents {
  width: 90vw;
  height: 7vh;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-logo {
  height: 47px;
  width: 47px;
  border-radius: 50%;
  margin-right: 20px;
}

.search-div {
  width: 54vw;
}

.search-form {
}

.search-input {
  -webkit-appearance: none
  margin-left: 30px;
  padding-left: 30px;
  width: 36vw;
  height: 35px;
  font-size: 15px;
  text-transform: capitalize;
  line-height: 20px;
  padding: 5px 15px;
  background-color: #ffffff;
  border: 1px solid #dddddd;
  border-radius: 5px;
  -webkit-transition: width 0.5s ease-out;
  transition: width 0.5s ease-out;
}

.search-input:focus {
  width: 50vw;
  border: 1px solid #2a2a2a;
  outline: none;
}

.header-right {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 90%;
}

.github-link {
  cursor: pointer;
  height: 100%;
  width: auto;
  height: 47px;
  width: 47px;
}

.github-link-image {
  height: 100%;
  width: auto;
}

.linkedin-link {
  cursor: pointer;
  height: 90%;
  width: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 47px;
  width: 47px;
}

.linkedin-link-image {
  height: 72%;
  width: auto;
}

.about-me {
  cursor: pointer;
  font-size: 16px;
  padding: 7px 14px;;
  border: 1px solid #0e0e0e;
  border-radius: 5px;
  /*text-shadow: -1px 1px 10px #505050;*/
  color: #0e0e0e;
  background: #ffffff;
  opacity: 0.9;
}

/* Body */

.svg-div {
  width: 100vw;
  height: 99vh;
}

svg {
  width: 100%;
  height: 100%;
}

.reset-button {
  position: fixed;
  padding: 7px 14px;
  left: 5vw;
  top: 10vh;
  border-radius: 5px;
  border: 1px solid #0e0e0e;
  background: #ffffff;
  opacity: 0.9;
  color: #0e0e0e;
  /*text-shadow: -1px 1px 10px #505050;*/
  /*color: #f9f9f9;*/
}

/* D3 */

.links line {
  stroke: #999;
  stroke-opacity: 0.6;
}

.nodes circle {
  stroke: #fff;
  stroke-width: 1.5px;
}

/* Artist Box/Player */

.artist-box {
  margin: 0 auto;
  width: 100vw;
  /*background: #f9f9f9;*/
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 17.3vh;
  font-size: 14px;
  padding-top: 5px;
  position: fixed;
  bottom: 0;
  opacity: 0.9;
}

.artist-info > h1 {
  font-weight: 600;
  font-size: 16px;
}

.player-div {
}

audio {
  width: 100vw;
}

.playlist-div {
}

.playlist-ul {
  -webkit-columns: 3 200px;
     -moz-columns: 3 200px;
          columns: 3 200px;
  -webkit-column-gap: 4em;
     -moz-column-gap: 4em;
          column-gap: 4em;
  -webkit-column-rule: 1px solid #0e0e0e;
     -moz-column-rule: 1px solid #0e0e0e;
          column-rule: 1px solid #0e0e0e;
           text-align: center;
}

.playlist-li > a {
  font-weight: 400;
}

.playlist-li > a.active {
  font-weight: 600;
}

/* Intro.js */

.tooltip {
}

.intro {
  width: 25vw;
}

.introjs-tooltiptext {
  text-align: center;
  padding: 10px;
}
